@import url("https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap");

/* font-family: 'Fira Sans', sans-serif; */

body {
  margin: 0;
  font-family: "Fira Sans", sans-serif;
  /*colors*/
  --color1: rgb(8, 8, 8);
  --color2: rgb(0, 0, 0);
  --color3: orange;
  --color4: rgb(154, 38, 38);

  --text-focus: rgb(255, 170, 12);
  --text-secondary: white;

  background: var(--color2);
  /* animation: bgcolor infinite 10s ease-in-out; */
  color: var(--color3);
}

@keyframes bgcolor {
  0% {
    background: black;
  }
  33% {
    background: rgb(58, 44, 9);
  }
  50% {
    background: rgb(22, 0, 17);
  }
  66% {
    background: rgb(55, 8, 8);
  }
  100% {
    background: black;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  text-decoration: none;
}

/*============"pagina"=============*/

.App {
  background-image: url("./Images/bt1.png");
  height: 97vh;
  background-position: center;
  background-size: cover;
  z-index: 50;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  animation: fadeIn 2s ease-in-out;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.LoadingScreen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 97vh;
}

.Logo {
  height: 200px;
  opacity: 0;
  animation: fadeLogo 4s ease-in-out;
}

.Motto {
  height: 100px;
  opacity: 0;
  animation: fadeMotto 4s ease-in-out;
}

@keyframes fadeLogo {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  90% {
    opacity: 0;
  }
}

@keyframes fadeMotto {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  90% {
    opacity: 0;
  }
}

.Sign {
  position: absolute;
  left: 50%;
  transform: translateX(-180%);
  top: 0%;
}

.Sign img {
  height: 300px;
  animation: swing 7s infinite ease-in-out;
}

@keyframes swing {
  0% {
    rotate: 0deg;
  }
  30% {
    rotate: 0deg;
  }
  50% {
    rotate: 15deg;
  }
  55% {
    rotate: 13deg;
  }
  60% {
    rotate: 15deg;
  }
  65% {
    rotate: 13deg;
  }
  70% {
    rotate: 15deg;
  }
  80% {
    rotate: 15deg;
  }
  100% {
    rotate: 0deg;
  }
}

.WC {
  position: relative;
  margin-top: 300px;
  margin-bottom: 0px;

  /* border: solid greenyellow 1px; */
}

.WC a {
  z-index: 50;
  width: 100%;

  /* border: solid rgb(255, 47, 217) 1px; */
}

.Mint {
  height: 300px;
  width: 270px;
  z-index: 50;

  /* border: solid yellow 1px; */
}

.smoke-wrap {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 22px;
  pointer-events: none;
  /* height: 500px; */

  /* border: solid red 1px; */
}

.smoke,
.smoke2,
.smoke3 {
  filter: blur(5px);
  transform-origin: 50% 50%;
  pointer-events: none;
}

.smoke {
  width: 350px;
  animation: smoke1 3s linear infinite;
  animation-delay: 0.5s;

  /* border: solid red 1px; */
}

.smoke2 {
  width: 200px;
  height: 300px;
  animation: smoke2 3s linear infinite;
  animation-delay: 1.5s;

  /* border: solid red 1px; */
}

.smoke3 {
  width: 500px;
  animation: smoke3 4s linear infinite;
  animation-delay: 2.5s;

  /* border: solid red 1px; */
}

@keyframes smoke1 {
  0% {
    filter: blur(0px);
    transform: translateY(0px) scale(-1, 1);
    opacity: 0;
  }

  25% {
    filter: blur(3px);
    transform: translateY(-10px) scale(-1, 1.05);
    opacity: 0.5;
  }

  50% {
    filter: blur(5px);
    transform: translateY(-20px) scale(-1, 1.1);
    opacity: 1;
  }

  75% {
    filter: blur(5px);
    transform: translateY(-30px) scale(-1, 1.15);
    opacity: 0.5;
  }

  100% {
    filter: blur(7px);
    transform: translateY(-40px) scale(-1, 1.2);
    opacity: 0;
  }
}

@keyframes smoke2 {
  0% {
    filter: blur(0px);
    transform: translateY(0px) scale(1);
    opacity: 0;
  }

  25% {
    filter: blur(3px);
    transform: translateY(-10px) scale(1.05);
    opacity: 0.5;
  }

  50% {
    filter: blur(5px);
    transform: translateY(-20px) scale(1.1);
    opacity: 1;
  }

  75% {
    filter: blur(5px);
    transform: translateY(-30px) scale(1.15);
    opacity: 0.5;
  }

  100% {
    filter: blur(7px);
    transform: translateY(-40px) scale(1.2);
    opacity: 0;
  }
}

.Socials {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 0px;
  width: 700px;

  /* border: solid royalblue 1px; */
}

.imgT {
  height: 250px;
  transition: 0.3s ease-in-out;
}

.imgT:hover {
  transform: scale(1.1);
  rotate: -10deg;
  height: 250px;
}

.imgD {
  height: 200px;
  rotate: 12deg;
  transition: 0.3s ease-in-out;
}

.imgD:hover {
  transform: scale(1.1);
  rotate: 22deg;
  /* height: 250px; */
}

@keyframes smoke3 {
  0% {
    filter: blur(0px);
    transform: translateY(0px) scale(1);
    opacity: 0;
  }

  25% {
    filter: blur(3px);
    transform: translateY(-20px) scale(1.05);
    opacity: 0.5;
  }

  50% {
    filter: blur(5px);
    transform: translateY(-40px) scale(1.1);
    opacity: 1;
  }

  75% {
    filter: blur(5px);
    transform: translateY(-60px) scale(1.15);
    opacity: 0.5;
  }

  100% {
    filter: blur(7px);
    transform: translateY(-80px) scale(1.2);
    opacity: 0;
  }
}

.Footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5rem 0px;
  width: 100%;
  font-size: 12px;
}

/*============Media Queries============*/

@media screen and (max-width: 1445px) {
  .imgT {
    height: 170px;
  }
}

@media screen and (max-width: 1000px) {
  .smoke-wrap {
    bottom: 60px;
  }

  .Sign {
    transform: translateX(-180%);
  }

  .Sign img {
    height: 200px;
    animation: swing 7s infinite ease-in-out;
  }

  .Socials {
    margin-top: 10px;
    align-items: flex-end;
    width: 300px;
  }

  .imgT {
    height: 190px;
  }

  .imgD {
    height: 110px;
    rotate: 12deg;
  }
}

@media screen and (max-width: 760px) {
  .Logo {
    height: 100px;
  }

  .Motto {
    height: 50px;
  }

  .Sign {
    transform: translateX(-80%);
  }

  .smoke,
  .smoke2,
  .smoke3 {
    width: 270px;
    height: 500px;
  }
}
